html {
    background-color: #262026;
    font-family: 'Roboto', sans-serif;
}
body {
    margin:0;
}
div.links{
    border: 10px #3b3138 solid;
    width: calc(100% - 20px);
    height: auto;
    position: relative;
    background-color: #3b3138;
}
a.links:link, a.links:visited{
    border: 5px #fcf8e9 solid;
    border-radius: 5px;
    color: #3b3138;
    background-color: #fcf8e9;
    font-size: 25px;
    text-decoration: none;
}
a.links:hover {
    border-color: #997f91;
    background-color: #997f91;
}
a#login_logout {
    margin: auto;
    position: absolute;
    right: 0;
    bottom: -5px;
}
hr.links {
    margin:0;
    color: #fcf8e9;
}

h1.sign_in {
    color: #fcf8e9;
    text-align: center;
}
form.sign_in {
    margin: auto;
    border: 10px #3b3138 solid;
    border-radius: 10px;

    width: max(50%, 300px);

    color: #fcf8e9;
    background-color: #3b3138;
    text-align: center;

    font-size: 25px;
}
.login_box {
    background-color: #262026;
    color: #fcf8e9;

    width: calc(100% - 10px);
    height: 50px;

    text-align: center;
    font-size: 45px;
}
.login_box:-webkit-autofill::first-line,
.login_box:-webkit-autofill,
.login_box:-webkit-autofill:hover, 
.login_box:-webkit-autofill:focus, 
.login_box:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #262026 inset !important;
    -webkit-text-fill-color:#fcf8e9 !important;
}
.login_submit {
    background-color: #262026;
    color: #fcf8e9;

    height: 50px;

    text-align: center;
    font-size: 30px;
}