<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>UHS Anonymous - {{ title }}</title>
        {% else %}
            <title>UHS Anonymous</title>
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel='stylesheet' href={{ url_for('static', filename='css/style.css') }}>
    </head>
</html>
<body>
    <div class='links'>
        <a href='/index' class='links'>Home</a>
        {% if current_user.is_anonymous == False %}
            <a href='/logout' class='links' id='login_logout'>Logout</a>
        {% else %}
            <a href='/login' class='links' id='login_logout'>Login</a>
        {% endif %}
    </div>
    <hr class='links'>
    {% block content %}{% endblock %}
</body>